*.csproj
*.sln
.DS_Store
.idea

/builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/GaussianAssets/*
/projects/**/Assets/GaussianAssets.meta
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
*.sln.DotSettings.user

/Assets/Room_Chunks/*
/Assets/Room_Chunks_Assets/*
/Assets/GS_Material/

# Allow root folder
splat_chunking/*

# Allow selected files
!splat_chunking/chunk_by_tiles.py
!splat_chunking/meta_to_csv.py


[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.gradle/
sysinfo.txt
.DS_Store

# IDE / Build Tools
*.csproj
*.sln
*.slnx
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# VSCode
.vscode/

# Builds
*.apk
*.aab

# Reports
crashlytics-build.properties

projects/GaussianExample-URP/Assets/SplatChunks/Assets/*
projects/GaussianExample-URP/Assets/SplatChunks/PLY/*
projects/GaussianExample-URP/Assets/GS_Material/*
projects/GaussianExample-URP/Assets/chunks_assets/*
projects/GaussianExample-URP/Assets/Room_Chunks_Assets/*
projects/GaussianExample-URP/Assets/SplatChunks/*
!projects/GaussianExample-URP/Assets/SplatChunks/Test/

# Native/CMake/Ninja temp (Unity/Android)
# generated build artifacts (DO NOT COMMIT)
projects/GaussianExample-URP/.utmp/
**/.utmp/
**/.cxx/
**/CMakeFiles/
**/*.ninja_*
**/CMakeCache.txt
**/cmake-build-*/
**/build/

projects/GaussianExample-URP/.utmp/
**/.utmp/
