*.csproj
*.sln
.DS_Store
.idea

/builds/*
/images/*
/Shot-*.png

/Assets/GaussianAssets/*
/Assets/GaussianAssets.meta
/Assets/Models~/*
/Library/*
/Logs/*
/Temp/*
/UserSettings/*
/obj/*

/projects/**/Assets/GaussianAssets/*
/projects/**/Assets/GaussianAssets.meta
/projects/**/Assets/Models~/*
/projects/**/Library/*
/projects/**/Logs/*
/projects/**/Temp/*
/projects/**/UserSettings/*
/projects/**/obj/*
*.sln.DotSettings.user

/Assets/Room_Chunks/*
/Assets/Room_Chunks_Assets/*
/Assets/GS_Material/

# Ignore everything in splat_chunking
splat_chunking/**/*

# Allow root folder
!splat_chunking/

# Allow selected files
!splat_chunking/split_last_monsters.py
!splat_chunking/split_monsters.py
!splat_chunking/split_ply.py
!splat_chunking/split_subchunks.py

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.gradle/
sysinfo.txt
.DS_Store

# IDE / Build Tools
*.csproj
*.sln
*.slnx
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db

# VSCode
.vscode/

# Builds
*.apk
*.aab

# Reports
crashlytics-build.properties

